<h1>This is <%= @username %>'s profile</h1>

<p>First name: <%= @user[:first_name] %></p>
<p>Last name: <%= @user[:last_name] %></p>
<p>Email: <%= @user[:email] %></p>

<%= 2 + 2 %>

<%= "Hello" %>

<% if false %>
  <p>This might not show</p>
<% end %>

<%# This is commented out %>