<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users Show Page</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <%- include("../partials/nav"); %>

  <h1>
    <%= user.firstName %>'s Profile Page
  </h1>

  <p>
    Full Name:
    <%= user.firstName %>
    <%= user.lastName %>
  </p>

  <p>
    Email:
    <%= user.email %>
  </p>

  <!-- 
    user = User.find_by(id: params[:id])
    user.destroy
    FORCE THE DESTROY
    redirect back to the list of all users 
  -->

  <div class="controls">
    <form action="/users/<%= user.id %>/delete" method="POST">
      <input type="submit" value="Delete User">
    </form>
  </div>

  <%- include("../partials/footer"); %>

</body>

</html>