<h2>
  <%= @author.name %>
</h2>

<p>
  Date of birth: 
  <%= @author.dob.strftime "%B %d, %Y" %>
</p>

<p>
  Location: <%= @author.location %>
</p>

<p>
  Description: <%= @author.description %>
</p>

<div class="controls">
  <%= link_to "Edit Author", edit_author_path(@author) %>
  <%= link_to "Delete Author", author_path(@author), method: :delete %>
</div>

<h3>
  This author has written 
  <%= pluralize @author.books.length, "book" %>
</h3>

<ul>
  <% @author.books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %>
    </li>
  <% end %>
</ul>

<h3>The Author's book are in the following genres</h3>

<% @author.genres.uniq.each do |genre| %>
  <p>
    <%= genre.name %>
  </p>
<% end %>